################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projet_Juju/v15
/Models/obj
/ViewModels/obj
/Models/bin/Debug/netcoreapp2.0
/ViewModels/bin/Debug/netcoreapp2.0
/.vs/config
