body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.signInUp{
    max-width: 350px;
    margin: 0 auto;
}